@import "./tailwind.css";
@import "./font.css";

:root {
  --color-primary: #51b8b2;
  --color-secondary: #397c79;
  --color-orange: #ffa552;
  --color-deep-orange: #ff7043;
  --color-caution: #d32f2f;
  --color-bg-white: #ffffff;
  --color-black: #1c1c1c;
  --color-white: #fafafa;
  --color-gray1: #f5f5f5;
  --color-gray2: #eeeeee;
  --color-gray3: #e0e0e0;
  --color-gray4: #bdbdbd;
  --color-gray5: #9e9e9e;
  --color-gray6: #757575;
  --color-gray7: #616161;
  --color-gray8: #585858;
}

@layer components {
  .text-H01 {
    @apply text-[32px] font-bold;
  }
  .text-H02 {
    @apply text-[28px] font-bold;
  }
  .text-H03 {
    @apply text-[24px] font-medium;
  }
  .text-H04 {
    @apply text-[20px] font-medium;
  }
  .text-T01 {
    @apply text-[18px];
  }
  .text-T02 {
    @apply text-[16px];
  }
  .text-ST01 {
    @apply text-[14px];
  }
  .text-ST02 {
    @apply text-[12px];
  }
  .text-ST03 {
    @apply text-[10px];
  }
  .number {
    @apply text-[18px] font-bold;
  }
  .button {
    @apply w-[80px] cursor-pointer border-b-2 text-[20px];
  }
  .community-button {
    @apply inline-flex mr-2;
  }
  .community-tab {
    @apply border-[var(--color-gray3)] hover:border-[var(--color-secondary)];
  }
  .community-tab-active {
    @apply border-[var(--color-primary)] hover:border-[var(--color-secondary)] text-[var(--color-primary)];
  }
  .input {
    @apply border-b-1 w-[80%] my-3.75 placeholder:text-[var(--color-gray4)]
    focus:outline-none;
  }
  .cancel {
    @apply bg-[var(--color-gray3)] hover:bg-[var(--color-gray5)] cursor-pointer rounded-full px-5 py-2.5;
  }
  .apply {
    @apply bg-[var(--color-primary)] hover:bg-[var(--color-secondary)] px-3.25 py-2.5 text-[var(--color-white)] cursor-pointer rounded-full;
  }
}
.commentBox {
  @apply w-[100%] h-[136px] border-[1px] border-[#d9d9d9] mt-[40px] pt-[20px] px-[23.35px] rounded-3xl;
}
.postBox {
  @apply w-[100%] h-[196px] border-[1px] border-[#d9d9d9] mt-[40px] pt-[20px] px-[23.35px] rounded-3xl;
}

@layer components {
  .postBottom {
    @apply border-b border-[#d9d9d9] min-w-[564px];
  }
  .postBorder {
    @apply border border-[#d9d9d9] p-[36px];
  }
  .postBorder2 {
    @apply border border-[#d9d9d9] rounded-3xl shadow-md p-[36px];
  }
  .postProfile {
    @apply w-8 h-8 rounded-full object-cover;
  }
  .listBorder {
    @apply bg-white w-[175px] h-[fit] border border-[var(--color-gray3)] rounded-lg p-[10px] shadow-md;
  }
  .textBase {
    @apply text-[var(--color-text-black)] text-[14px];
  }
  .textH1 {
    @apply text-[var(--color-text-black)] font-bold text-[32px];
  }
  .textH2 {
    @apply text-[var(--color-text-black)] font-bold text-[28px];
  }
  .textH3 {
    @apply text-[var(--color-text-black)] font-medium text-[24px];
  }
  .textH4 {
    @apply text-[var(--color-text-black)] font-medium text-[20px];
  }
  .textST1 {
    @apply text-[var(--color-text-black)] text-[14px];
  }
  .item-middle {
    @apply flex items-center justify-center min-h-screen;
  }

  .btn-style {
    @apply bg-[var(--color-main)] hover:bg-[#539995] cursor-pointer text-white w-full h-11 flex items-center justify-center rounded-full font-semibold px-3 p-3;
  }

  .input-style {
    @apply w-full h-11 rounded-4xl px-4 p-3 border border-[#E5EBEE] bg-[#E5EBEE]
    focus:border-[#51B8B2] focus:outline-[#51B8B2] focus:outline-1;
  }

  .btn-style-post {
    @apply bg-white hover:bg-[var(--color-gray1)] cursor-pointer text-[var(--color-gray5)] w-full h-[54px] flex items-center justify-center py-[12px];
  }
  .btn-style-post2 {
    @apply bg-white hover:bg-[var(--color-gray1)] cursor-pointer px-6 py-2 text-center;
  }
  .btn-style-comment {
    @apply bg-[var(--color-gray3)] hover:bg-[var(--color-gray4)] cursor-pointer text-[var(--color-gray7)] rounded-full px-3 py-1;
  }
  .btn-style-modal {
    @apply bg-[var(--color-main)] hover:bg-[var(--color-sub)] cursor-pointer text-white w-[120px] h-[40px] items-center justify-center rounded-[5px];
  }
  .btn-style-channelList {
    @apply bg-white hover:bg-[var(--color-gray1)] cursor-pointer text-[var(--color-gray7)] border border-[var(--color-main)] w-[193px] h-[44px] flex items-center justify-center rounded-3xl;
  }

  .input-style-head {
    @apply w-full h-[54px] rounded-xl border border-[var(--color-gray4)] bg-white placeholder-[var(--color-gray5)] focus:border-[var(--color-main)] focus:outline-[var(--color-main)] focus:outline-1;
  }
}
/* 자주쓰는 tailwindcss모음 + 글짜크기 지정 */

.ql-editor::before {
  font-style: normal !important;
  color: var(--color-gray4) !important;
}
/* 텍스트 에디터의 미리보기 글짜 적용을 위한 기본 CSS 사용 */
