:root {
  --color-main: #51b8b2;
  --color-sub: #397c79;
  --color-orange: #ffa552;
  --color-deep-orange: #ff7043;
  --color-red-caution: #d32f2f;
  --color-black: #1c1c1c;
  --color-bg-white: #fafafa;
}
/* 디자인 색깔  */
